{% extends 'base_geral.html' %}
{% load static %}

{% block 'title' %}
Meus Pedidos
{% endblock %}

{% block 'head' %}

{% endblock %}

{% block 'body' %}
<main class="principal">
    <section class="conta">
        <div class="conta__container">
            <div class="checkout__titulos">
                <p class="checkout__titulo">Politica de Privacidade</p>
            </div>

            <div class="pedido">
                <p>A Política de Privacidade abaixo constitui parte integrante dos Termos e Condições de Uso.</p>
                <br>
                <p>Sua privacidade é algo importante para nós, pois levamos a sério nossos consumidores. Esta política
                    de privacidade explica quais Dados Pessoais coletamos e tratamos sobre você, sendo essas obtidas em
                    web site, serviços e lojas. Bem como as medidas tomadas para assegurar a proteção de dados
                    coletadas.</p>
                <br>
                <p>Ao usar qualquer dos nossos serviços e/ou produtos, nos fornecendo Dados Pessoais, você concorda com
                    a Política de Privacidade.</p>
                <br>
                <p>A Livre Comércio BR., inscrita no CNPJ/MF sob o número 54.118.285/0001-99, é controladora dos dados
                    pessoais coletados e tratados.</p>
                <br>
                <p>Dúvidas e mais informações poderão ser esclarecidas em nossos canais de atendimento,
                    livrecomercio@gmail.com</p>
                <br>
                <br>
                <p>&nbsp&nbsp 1. INFORMAÇÕES COLETADAS DO USUÁRIO</p>
                <br>
                <p>1.1 Coletamos suas informações pessoais para melhorar continuamente nossa prestação de serviços e
                    venda de produtos. Isto incluem:</p>
                <br>
                <p>1.1.1 Dados de cadastro/usuário: Incluem nome completo, CPF, e-mail, endereço, telefone e senha.</p>
                <br>
                <p>1.1.2 Dados de candidato a vagas de emprego: Incluem Dados de contato e informações constantes no
                    currículo.</p>
                <br>
                <p>1.1.3 Dados de Navegação: Informações de registro relativas aos acessos do site, como IP (Internet
                    Protocol), as páginas acessadas, os horários e datas de acesso, dispositivo de acesso utilizado, bem
                    como a geolocalização. Caso opte por não permitir a coleta da geolocalização, ajuste as
                    configurações do seu dispositivo para que essa informação não seja enviada. Tais registros poderão
                    ser utilizados em investigação interna ou pública para averiguação de práticas que possam gerar
                    quaisquer prejuízos nos termos da legislação vigente.</p>
                <br>
                <p>1.1.4 Dados de cookies: Visando oferecer a melhor experiência e personalização de uso, utiliza-se
                    essa tecnologia para coletar e armazenar informações relativas à visita no site, podendo incluir o
                    envio de um ou mais cookies ou identificadores anônimos que coletam dados relativos à preferência de
                    navegação e as páginas visitadas pelo Usuário para alinhamento de interesse pessoal. Todavia, essa
                    coleta e tratamento desses dados é absolutamente automatizada, não havendo nenhuma possibilidade de
                    contato humano com os dados em questão. Outrossim, esses dados não se categorizam como dados
                    pessoais, pois não colhem dados de pessoa natural. Os usuários podem limitar nos seus próprios
                    navegadores a instalação ou apagar os cookies. Neste caso, algumas funcionalidades do site podem
                    apresentar erros.</p>
                <br>
                <p>1.2 Não monetizamos informações pessoais, ou seja, não vendemos informações dos nossos clientes.</p>
                <br>
                <p>&nbsp&nbsp 1. FINALIDADES DO TRATAMENTO</p>
                <br>
                <p>2.1 As principais finalidades que motivam o tratamento das suas informações pessoais, dentro dos
                    limites legais, são:</p>
                <br>
                <p>2.1.1 Realizar a identificação e cadastro dos Usuários no Site;</p>
                <br>
                <p>2.1.2 Receber e organizar pedidos, entregar produtos e serviços e processar pagamentos.</p>
                <br>
                <p>2.1.3 Nos comunicar com você responde as suas consultas e enviar informações sobre sua conta,
                    pedidos, produtos, serviços, compras, devoluções, promoções, campanhas e programas;</p>
                <br>
                <p>2.1.4 Realizar análise, controle de qualidade, pesquisa de mercado e determinar a eficácia de nosso
                    site, para corrigir possíveis erros e melhorar a usabilidade;</p>
                <br>
                <p>2.1.5 Usamos suas informações para recomendar funcionalidades, recursos, produtos e serviços que
                    podem ser de seu interesse;</p>
                <br>
                <p>2.1.6 A suas informações são utilizadas para nos comunicar com você em diferentes canais (e-mail,
                    telefone, sms);</p>
                <br>
                <p>2.2 Informações relacionadas a marketing enviadas a você, quando tivermos uma relação
                    contratual/comercial anterior. Caso opte pelo cancelamento de recebimento dessas comunicações, será
                    possível cancelar nos comunicados enviados na opção “não quero mais receber e-mails marketing”;</p>
                <br>
                <p>2.3 Cumprir obrigações legais, como a guarda de logs de acesso dos usuários, proteger nosso direito
                    de privacidade, segurança ou propriedade. Bem como o de consumidores e terceiros, inclusive em
                    atuação em processos legais aplicáveis;</p>
                <br>
                <p>2.4 Responder a solicitação de autoridades públicas e governamentais;</p>
                <br>
                <p>2.5 Para entrar em contato com o Usuário que tiver enviado seu currículo para nossa base de dados;
                </p>
                <br>
                <p>2.6 Você terá o controle destes dados pessoais e poderá restringir e revogar qualquer consentimento
                    que tenha fornecido.</p>
                <br>
                <p>&nbsp&nbsp 1. COMPARTILHAMENTO DAS INFORMAÇÕES COLETADAS</p>
                <br>
                <p>4.1 Só haverá compartilhamento de Dados Pessoais para terceiros, prestadores de serviços, pois usamos
                    outras pessoas e empresas para desempenhar funções para nós, como por exemplo, envio das páginas em
                    HTML para confecção pelos nossos parceiros comerciais. Esses terceiros prestadores de serviços têm
                    acesso as informações pessoais necessárias para o desempenho da função, não podendo usá-las para
                    outras finalidades, respeitando sempre a lei de proteção de dados.</p>
                <br>
                <p>&nbsp&nbsp 1. DIREITOS DO USUÁRIO</p>
                <br>
                <p>5.1 Os usuários têm os direitos de pedir acesso, corrigir, atualizar, revogar consentimento, excluir
                    os dados pessoais e pedir a portabilidade de dados, além dos previstos aqui e também previstos na
                    Lei de Proteção de dados.</p>
                <br>
                <p>5.2 Caso nos solicite o envio de quais informações temos sobre o Usuário, nós forneceremos essas
                    informações sobre seus Dados pessoais de forma transparente e em linguagem clara e simples. As
                    informações serão oferecidas preferencialmente em meio eletrônico, nos seguintes prazos:</p>
                <br>
                <p>5.2.1 Imediatamente, quando em formato simplificado;</p>
                <br>
                <p>5.2.2 Dentro de 15 (quinze) dias após sua solicitação, quando for em formato completo.</p>
                <br>
                <p>5.2.3 Para solicitações envie um e-mail para privacidade@livrecomercio.com</p>
                <br>
                <p>5.3 Caso a solicitação seja feita por representante, deveremos verificar a autorização. Para que isso
                    possa ocorrer vamos solicitar maiores documentos comprobatórios, o que requererá mais tempo para
                    atender a solicitação.</p>
                <br>
                <p>5.4 O Usuário poderá acessar as informações, incluindo seu nome, endereço, perfil, histórico de
                    compra no site.</p>
                <br>
                <p>5.5 Todas as atividades de tratamento observam a boa fé.</p>
                <br>
                <p>&nbsp&nbsp 1. PERÍODO DE RETENÇÃO</p>
                <br>
                <p>6.1 Iremos manter seus Dados Pessoais pelo período necessário para atingir a finalidade descrita
                    nessa Política de Privacidade, para que você possa continuar usando os serviços e conforme exigido
                    por lei, fins fiscais e contábeis. Manteremos também, pelo mesmo período, o seu histórico de
                    transações.</p>
                <br>
                <p>&nbsp&nbsp 1. MEDIDAS DE SEGURANÇA DA INFORMAÇÃO</p>
                <br>
                <p>7.1 Usamos medidas físicas e técnicas, projetadas para reduzir o risco de perda, uso indevido, acesso
                    não autorizado, divulgação ou modificação de seus dados pessoais. Entre elas a utilização de
                    criptografia e a instalação de barreiras contra o acesso indevido a base de dados (firewalls).
                    Infelizmente nenhum sistema ou rede pode ser 100% seguro. Se tiver motivos para acreditar que sua
                    interação conosco não é mais segura, favor nos notificar nos meios de comunicação on-line
                    atendimentolivrecomercio@gmail.com.</p>
                <br>
                <p>7.2 Não armazenamos em nossas bases de dados informações financeiras dos usuários, como os referentes
                    a cartões de crédito. O procedimento de aprovação do pagamento ocorre entre o usuário, os bancos e
                    as administradoras de cartões sem intervenção da Livre Comércio BR.</p>
                <br>
                <p>&nbsp&nbsp 1. DISPOSIÇÕES GERAIS</p>
                <br>
                <p>8.1 A nós fica ressalvado o direito de alterar a Política de Privacidade, notificando os usuários
                    através de anuncio no Site.</p>
                <br>
                <p>8.2 O uso contínuo, pelo Usuário, dos serviços após a entrada em vigor de qualquer alteração
                    realizada e notificada previamente constitui sua aceitação da Política de Privacidade alterada ou
                    modificada. Por isso pedimos ao Usuários que sempre revejam a Política de Privacidade.</p>
                <br>
                <p>&nbsp&nbsp 1. LEGISLAÇÃO E FORO</p>
                <br>
                <p>9.1 Esta Política de Privacidade será regida pelas leis Brasileiras e qualquer controvérsia que possa
                    surgir entre o Usuário e a Livre Comércio BR. Fica eleito o Foro da Comarca de Nova Odessa, SP, com
                    renúncia de qualquer outro, por mais privilegiado que seja.</p>
                <p>Esta Política de Privacidade entra em vigor a partir da 00:00:00 de hoje 01/06/2024.</p>

            </div>

            <div>
                <a href="{% url 'produtos' %}">Voltar à Loja</a>
            </div>
        </div>
    </section>
</main>

{% endblock %}