{% extends 'base_geral.html' %}
{% load static %}

{% block 'title' %}
Meus Pedidos
{% endblock %}

{% block 'head' %}

{% endblock %}

{% block 'body' %}
<main class="principal">
    <section class="conta">
        <div class="conta__container">
            <div class="checkout__titulos">
                <p class="checkout__titulo">Termos de Uso</p>
            </div>

            <div class="pedido">
                <p>A Livre Comércio BR, inscrita no CNPJ/MF sob o número 54.118.285/0001-99, oferece a você serviços
                    quando compra no Site conforme condições abaixo.</p>
                <br>
                <p>Ao acessar ou utilizar o Site o Usuário deve declarar que realizou a leitura deste termo bem como da
                    Política de Privacidade,
                    conferindo sua livre e expressa concordância com os termos aqui estipulados.
                </p>
                <br>
                <br>
                <p>&nbsp&nbsp 1. DESCRIÇÕES GERAIS</p>
                <br>
                <p>1.1 O presente termo tem por objeto estabelecer as condições de acesso e o uso dos serviços do Site,
                    Loja virtual da Livre Comércio BR.</p>
                <br>
                <p>1.2 O Site sob o domínio www.livrecomercio.com, mostra informações de serviços da loja virtual,
                    programas de fidelidade,
                    dúvidas, promoções</p>
                <br>
                <p>1.3 A Loja virtual Livre Comércio BR é alocada em uma plataforma digital e permite ao Usuário
                    adquirir diversos tipos de serviços on-line, após a realização do Cadastro.</p>
                <br>

                <p>&nbsp&nbsp 1. CADASTROS E USUÁRIOS</p>
                <br>
                <p>2.1 Usuários são as pessoas que utilizam os serviços no Site como visitantes ou após realizarem seu
                    cadastro no campo correspondente do Site.</p>
                <br>
                <p>2.2 Ao utilizar qualquer serviço no Site, você é responsável por manter o sigilo e confidencialidade
                    de sua senha e conta e restringir o acesso
                    ao seu computador, além de ser o único responsável por qualquer atividade que ocorra com o uso da
                    sua conta e ou senha.
                </p>
                <br>
                <p>2.3 O uso não autorizado de sua senha, conta ou qualquer outra violação de segurança deve ser
                    notificada através do nosso canal de comunicação atendimentolivrecomercio@gmail.com.</p>
                <br>
                <p>2.4 As informações fornecidas devem ser verdadeiras, exatas e atualizadas.</p>
                <br>
                <p>2.5 Os serviços da Loja virtual Livre Comércio BR são destinados a pessoas maiores de 18 anos
                    plenamente capazes.
                    Caso você seja menor de idade ou incapaz somente poderá utilizar os serviços com participação de
                    seus pais e/ou responsáveis.
                </p>
                <br>
                <p>2.6 Se for constatado, a qualquer momento, que o Usuário forneceu informações falsas, incorretas ou
                    de forma fraudulenta,
                    tentando violar o presente termo, a Loja virtual Livre Comércio BR se reserva o direito de cancelar
                    sua conta de acesso, sem prejuízo de adotar outras medidas cabíveis.
                </p>
                <br>
                <p>2.7 Os Usuários se comprometem a não realizar ou permitir que se realize engenharia reversa, alugar,
                    alterar, copiar, distribuir,
                    emprestar, publicar ou de qualquer outra maneira dispor das ferramentas do Site, como também a não
                    utilizar softwares espiões ou
                    outro que prejudique a funcionalidade do Site.
                </p>
                <br>
                <p>&nbsp&nbsp 1. INFORMAÇÕES SOBRE A LOJA VIRTUAL LIVRE COMÉRCIO BR</p>
                <br>
                <p>3.1 A Loja virtual Livre Comércio BR é um ambiente digital que permite ao Usuário adquirir serviços
                    on-line, com comodidade e segurança.</p>
                <br>
                <p>3.2 Para acessar a Loja virtual Livre Comércio BR de forma integral e segura é de inteira
                    responsabilidade do Usuário dispor dos equipamentos
                    compatíveis como antivírus, firewall habilitados, softwares devidamente atualizados, além de adoção
                    de medidas de segurança mínimas.
                </p>
                <br>
                <p>3.3 A Loja virtual Livre Comércio BR pode sofrer eventuais indisponibilidades temporárias por
                    quaisquer motivos, será feito o possível
                    para restabelecê-la, não nos responsabilizando por sua interrupção.
                </p>
                <br>
                <p>3.4 A Loja virtual Livre Comércio BR poderá realizar alterações em sua plataforma virtual por
                    conveniência ou necessidade sem que para isso tenha que fazer
                    previa comunicação aos Usuários.
                </p>
                <br>
                <p>3.5 As funcionalidades e ferramentas que compõem a Loja Virtual Livre Comércio BR, são oferecidas na
                    forma de prestação de serviço,
                    não conferindo ao Usuário nenhum direito sobre o software ou sobre as estruturas de informáticas.
                </p>
                <br>
                <p>3.6 Os dados pessoais por exemplo, nome, endereço, CPF, telefone ou endereço de e-mail, transmitidos
                    pelo Usuário para o Site,
                    por correio eletrônico ou por qualquer outro meio serão usados pela Livre Comércio BR. de acordo com
                    a
                    Politica de Privacidade publicada no Site.
                </p>
                <br>
                <p>3.7 O Usuário declara e garante que as informações fornecidas em atividades associadas ao seu uso do
                    Site são e deverão continuar a ser verdadeiras,
                    precisas e que manterá atualizada essas informações regularmente. Caso as informações fornecidas
                    sejam falsas ou incompletas, nós poderemos interromper seu uso no Site.
                </p>
                <br>
                <p>3.8 Ao utilizar qualquer serviço do Site, nos enviar e-mail, mensagens de texto (SMS, WhatsApp,
                    Instagram, Facebook e etc.), ou outros tipos de comunicação,
                    a partir de qualquer dispositivo eletrônico, você estará nos autorizando a nos comunicar pelos
                    mesmos meios eletrônicos, tais quais e-mail,
                    mensagem de texto (SMS, WhatsApp, Instagram, Facebook e etc), mensagem em aplicativos entre outros.
                </p>
                <br>
                <p>3.9 A Livre Comércio BR. tenta descrever os serviçs de maneira mais fiel possível, contudo, não
                    garante que os serviços sejam exatos, completos, atuais ou livres de erros.</p>
                <br>
                <p>3.10 A Livre Comércio BR, utiliza provedores de serviços de pagamento seguros garantindo assim a
                    segurança de suas transações.</p>
                <br>
                <p></p>
                <p>&nbsp&nbsp 1. DIREITOS AUTORAIS E INTELECTUAIS</p>
                <br>
                <p>4.1 Respeitar todos os direitos de propriedade intelectual e autoral de titularidade da Livre
                    Comércio BR, como também
                    todos os direitos referentes à terceiros que porventura estejam ou estiveram, de alguma forma,
                    disponíveis no Site, tais como texto, gráficos,
                    logotipos, ícones, imagens e etc.
                </p>
                <br>
                <p>&nbsp&nbsp 1. ISENÇÃO E LIMITE DE RESPONSABILIDADE</p>
                <br>
                <p>5.1 A Livre Comércio BR. não se responsabiliza por quaisquer problemas, bugs, falhas, funcionamentos
                    indevidos que
                    possam ocorrer nos dispositivos ou equipamentos dos Usuários que sejam resultantes do uso regular do
                    Site ou de suas aplicações.
                </p>
                <br>
                <p>5.2 A Livre Comércio BR. não se responsabiliza por qualquer dano, direto ou indireto, ocasionado por
                    evento de terceiros.</p>
                <br>
                <p>5.3 Os Usuários não poderão pleitear indenização ou reparação em caso do Site ou de alguma ferramenta
                    ou loja virtual permaneça fora do ar.</p>
                <br>
                <p>5.4 A Loja virtual Livre Comércio BR não se responsabiliza por erros no sistema das instituições
                    financeiras e por compras reprovadas.</p>
                <br>
                <p>5.5 Este Termo e Condições de Uso serão regidos pelas leis Brasileiras e qualquer controvérsia que
                    possa surgir fica eleito o Foro da
                    Comarca de Nova Odessa, SP, para resolução de conflitos, com exceção de reclamação apresentadas por
                    Usuários que se enquadrem no conceito legal de consumidores, que poderão submeter tais reclamações
                    ao foro de seu domicílio.
                </p>
                <br>
                <p>5.6 O atendimento aos Usuários poderá ser realizado por nossos canais de atendimento:
                    Central de atendimento: Tel: (19) 98232-5459.
                </p>
                <br>
                <p>E-mail: atendimentolivrecomercio@gmail.com</p>
                <br>
                <p>5.7 Estes Termos e Condições podem ser atualizados a qualquer momento pela Livre Comércio BR, sendo
                    todas as alterações publicadas no Site.</p>
                <br>
                <p>5.8 Reservamo-nos o direito de fazer mudanças em nosso Site e em nossas políticas.</p>
                <br>
                <p>5.9 Se alguma dessas disposições for considerada invalida, nula ou inexequível, essa condição será
                    considerada uma cláusula separada,
                    independente e não afetará a validade e possiblidade de qualquer condição remanescente.
                </p>
                <br>
                <p>&nbsp&nbsp 1. GLOSSÁRIO</p>
                <br>
                <p>6.1 Para fins desse documento, devem ser consideradas as seguintes definições, para seu melhor
                    entendimento:</p>
                <br>
                <p>Usuário: São as Pessoas/Clientes que acessam ou interagem com as atividades oferecidas no Site, Loja
                    virtual da Livre Comércio BR.</p>
                <br>
                <p>Site: Tudo que está sob o domínio https://www.livrecomercio.com</p>
                <br>
                <p>Loja virtual Livre Comércio BR: Designa o endereço virtual da loja no site
                    https://www.livrecomercio.com</p>
                <br>
                <p>Cadastro: Onde o Usuário poderá realizar seu cadastro no Site, no endereço eletrônico
                    https://www.livrecomercio.com/auth/cadastro</p>
                <br>

                <p>Estes Termos de Uso entra em vigor a partir da 00:00:00 de hoje 01/06/2024.</p>

            </div>

            <div>
                <a href="{% url 'produtos' %}">Voltar à Loja</a>
            </div>
        </div>
    </section>
</main>

{% endblock %}