{% load static %}

<footer class="rodape">
    <section class="rodape__secao-formulario">
        <div class="rodape__app-newsletter">
            <div class="rodape__container-newsletter">
                <div class="rodape__newsletter">
                    <img src="{% static 'store/img/logo100.png' %}" alt="Logo Magasil" class="cabecalho__logo"
                        style="width: 25px; height: 70px;" />
                    <p class="rodape__texto-newsletter">Assine nossa newsletter</p>
                    <p class="rodape__texto">
                        Cadastre-se e receba promoções exclusivas e saiba tudo antes de
                        todo mundo!
                    </p>
                </div>

                <form class="formulario" action="">
                    <input class="formulario__input" type="email" name="email" placeholder="Digite seu e-mail" />
                    <input class="formulario__input" type="text" name="name" placeholder="Digite seu nome" />
                    <button class="formulario__botao" type="submit">Cadastrar</button>
                </form>
            </div>

        </div>
    </section>

    <section class="rodape__secao-informacoes">
        <div class="rodape__container">
            <div class="rodape__informacoes">
                <div class="rodape__informacao">
                    <p class="rodape__titulo">Sobre a Livre Comércio BR</p>

                    <ul class="rodape__links">


                        <li>
                            <a href="https://wa.me/5519982325459">Quem somos</a>
                        </li>

                    </ul>
                </div>

                <div class="rodape__informacao">
                    <p class="rodape__titulo">Vem Pra Livre Comércio BR</p>

                    <ul class="rodape__links">
                        <li>
                            <a href="https://wa.me/5519982325459">Seja um Franqueado</a>
                        </li>
                        <li>
                            <a href="https://wa.me/5519982325459">Nossas Lojas</a>
                        </li>
                        <li>
                            <a href="https://wa.me/5519982325459">Trabalhe Conosco</a>
                        </li>
                    </ul>
                </div>

                <div class="rodape__informacao">
                    <p class="rodape__titulo">Minha Conta</p>

                    <ul class="rodape__links">
                        <li>
                            <a href="{% url 'gerenciar_loja' %}">Gerenciar Loja</a>
                        </li>
                        <li>
                            <a href="{% url 'meus_pedidos' %}">Meus Pedidos</a>
                        </li>
                        <li>
                            <a href="{% url 'minha_conta' %}">Minha Conta</a>
                        </li>
                        <li>
                            <a href="{% url 'cadastrar_endereco' %}">Meus Endereços</a>
                        </li>
                    </ul>
                </div>

                <div class="rodape__informacao">
                    <p class="rodape__titulo">Suporte</p>

                    <ul class="rodape__links">
                        <li>
                            <a href="{% url 'politica_privacidade' %}">Política de Privacidade</a>
                        </li>
                        <li>
                            <a href="{% url 'termos_de_uso' %}">Termos de Uso</a>
                        </li>
                        <li>
                            <a href="#">Dúvidas Frequentes</a>
                        </li>
                        \
                    </ul>
                </div>

                <div class="rodape__informacao">
                    <p class="rodape__titulo"> Projetos</p>

                    <ul class="rodape__links">
                        <li>
                            <a href="https://valbaby-94de47026eac.herokuapp.com/loja/homepage/">Valbaby</a>
                        </li>
                        <li>
                            <a href="https://www.vandermakveiculos.com/homepage/">Vandermak</a>
                        </li>
                        <li>
                            <a href="https://movieflixbr-3ff670d4d6fb.herokuapp.com/filmes/homefilmes/">MovieFlix</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="rodape__atendimento">
                <p class="rodape__titulo">Atendimento</p>

                <div class="rodape__ancoras">

                    <div class="rodape__whatsapp">
                        <a class="rodape__ancora-icone" href="https://wa.me/5519982325459">
                            <img class="rodape__icone" data-src="{% static 'store/img/WhatsApp250.png' %}"
                                src="{% static 'store/img/WhatsApp250.png' %}" />
                            WhatsApp Livre Comércio BR
                        </a>

                        <p class="rodape__horarios">
                            Segunda a Sexta: 08h às 20h<br />Sábados: 08h às 18h
                        </p>
                    </div>

                </div>

                <div class="rodape__redes">
                    <a href="https://www.facebook.com/ronaldocorreiaallblue" class="rodape__rede">
                        <img src="{% static 'store/img/Novo_facebook250.png' %}" alt="Logo Facebook"
                            style="width: 35px; height: 35px;" />
                    </a>
                    <a href="https://www.instagram.com/aprendainglescomfrasesprontas/" class="rodape__rede">
                        <img src="{% static 'store/img/Instagram250.png' %}" alt="Logo Instagram"
                            style="width: 25px; height: 25px;" />
                    </a>
                    <a href="https://x.com/Ronaldcorreiafs" class="rodape__rede">
                        <img src="{% static 'store/img/twitter250.png' %}" alt="Logo Twitter"
                            style="width: 35px; height: 35px;" />
                    </a>
                    <a href="https://www.linkedin.com/in/ronaldo-poliglota/" class="rodape__rede">
                        <img src="{% static 'store/img/linkedln.png' %}" alt="Logo LinkedIn"
                            style="width: 35px; height: 35px;" />
                    </a>
                </div>
            </div>
        </div>

    </section>

    <section class="rodape__secao-empresa">
        <p>
            LIVRE COMÉRCIO BR | CNPJ: 16.590.234/0064-50 | RUA GERALDO AMARAL, 249 -
            MONTE DAS OLIVEIRAS - NOVA ODESSA | CEP: 13386-138 - SP
        </p>
    </section>
</footer>